<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.damian.kinematicscalculatorvs3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />

        <activity
            android:name=".activities.KinematicsForwardValue"
            android:label="@string/activity_name_dh"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />

        <activity
            android:name=".activities.KinematicsForwardDraw"
            android:label="@string/activity_draw_manipulator"
            android:theme="@style/AppTheme.ActionBar" />

        <activity
            android:name=".activities.KinematicsInverseDraw"
            android:label="@string/activity_draw_manipulator"
            android:theme="@style/AppTheme.ActionBar" />

        <activity
            android:name=".activities.KinematicsInverseVariablesConstant"
            android:label="@string/activity_const_variable"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />

        <activity
            android:name=".activities.KinematicsInverseValue"
            android:label="@string/activity_name_dh"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />

        <activity
            android:name=".activities.KinematicsInverseSystemOfEquation"
            android:label="@string/activity_result"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ActionBar" />

        <activity
            android:name=".activities.Help"
            android:label="@string/help_menu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>
</manifest>
